:root {
    --ps-width: 50%;
    --xb-width: 50%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: width 1.5s ease;
}

.container.ps5 {
    background-image: url(https://50projects50days.com/projects/split-landing-page/ps.jpg);
    width: var(--ps-width)
}

.container.ps5::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--ps-width);
    height: 100%;
    background-color: rgba(87, 84, 236, 0.7);
    transition: width 1.5s ease;
}

.container.xbox {
    background-image: url(https://50projects50days.com/projects/split-landing-page/xbox.jpg);
    width: var(--xb-width)
}

.container.xbox::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--xb-width);
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    transition: width 1.5s ease;
}

h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 40px;
    margin-top: -200px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
}

button {
    text-transform: uppercase;
    padding: 25px 80px;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    z-index: 2
}

.ps:hover {
    border: none;
    padding: 28px 80px;
    background-color: rgba(87, 84, 236, 1);
}

.xb:hover {
    border: none;
    padding: 28px 80px;
    background-color: rgba(28, 122, 28, 1);
}