@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; 
}

.btn {
    padding: 1.2em 2em;
    border-radius: 5px;
    border: none;
    background-color: rebeccapurple;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 1rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: scale(0.97)
}
